button{
    font-size: 1rem;
    font-weight: semi-bold;
    text-align: center;
    border-radius: 50%;
    width: 143px;
    height: 143px;
    padding: 1.3rem 0;
    border: 1px solid transparent;

    align-self: center;
    justify-self: center;
    position: relative;
    
}

.white{
    background: white;
    filter: drop-shadow(0 2px .1rem @secondary-grey);
}

.blue{
    background: @teal-to-blue-gradient;
    filter: drop-shadow(0 2px .1rem @secondary-grey);
}